#### SQL AND SQLite

SQL (structured query language) is a standard language for managing and manipulating relational databases.

SQLite is a self-contained, serverless, and zero-configuration database engine taht is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
## connect to an sqlite db

connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [5]:
# create a table

cursor.execute('''
Create Table If Not Exists employees(
    id integer Primary key,
    name Text Not Null,
    age Integer,
    department text
    )
''')
## commit the chnages 

connection.commit()

In [10]:

cursor.execute('''
               Select * from employees
               ''')

In [9]:
## insert data in sqlite db


cursor.execute('''
Insert INTO employees(name, age, department)
VALUES ('A',22,'ENGINEERING')
''')


cursor.execute('''
Insert INTO employees(name, age, department)
VALUES ('B',21,'ENGINEERING')
''')


cursor.execute('''
Insert INTO employees(name, age, department)
VALUES ('C',25,'ENGINEERING')
''')

connection.commit()

In [12]:
## QUERY THE DATA FROM THE TABLE

cursor.execute('''
               Select * from employees
               ''')

rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'A', 22, 'ENGINEERING')
(2, 'B', 21, 'ENGINEERING')
(3, 'C', 25, 'ENGINEERING')